<template>    
    <div class="card">
        
        <div class="card-header">                  
            <div class="form-group row">
                <label class="col-sm-1">Estado</label>
                <b-form-select v-model="estado" :options="options" size="sm" class="col-sm-2" @change="getUsuarios()" ></b-form-select>                                 
            </div>                                                   
        </div>
        <div class="card-body">

            <table class="table table-responsive-sm table-hover table-outline mb-0" style="font-size: 14px">
                <thead class="thead-light text-center">
                    <tr>                        
                        <th>ID</th>
                        <th>NAME</th>
                        <th>EMAIL</th>
                        <th>ESTADO</th>                                        
                    </tr>                                                                                                                                
                </thead>
                <tbody>
                    <tr v-for="usuario in usuarios" :key="usuario.id">
                        <td>{{ usuario.id }}</td>
                        <td>{{ usuario.name }}</td>
                        <td>{{ usuario.email }}</td>
                        <td>                          
                            <toggle-button v-model="usuario.status"
                                :sync="true"
                                :color="{checked: '#17a2b8', unchecked: '#dc3545'}"
                                :labels="{checked: 'On', unchecked: 'Off'}"
                                :key="usuario.toggled"
                                @change="changeStatus(usuario)">
                            </toggle-button>                            
                        </td>
                    </tr>
                </tbody>
            </table>
            
        </div>

        <div class="card-footer clearfix">
            <pagination :data="pagination" :size="'default'" :limit="3" :show-disabled="true"
                :align="'center'" @pagination-change-page="getUsuarios">
                <span slot="prev-nav">Anterior</span>
                <span slot="next-nav">Siguiente</span>
            </pagination>
        </div>
                                    
    </div>
</template>

<script>
    export default {
        
        data() {
            return {
                estado: '',
                options: [
                    { value: '', text: 'Todos' },
                    { value: '1', text: 'Activo' },
                    { value: '0', text: 'Desactivo' },         
                ],
                usuarios: [],
                pagination:{},
                page:0
            }
        },        
        mounted() {
           this.getUsuarios();
        },
        methods: {

            getUsuarios(page = 1){ 
                this.page= page
                axios.get('/users?page=' + page, {
                    params : {
                        estado    : this.estado
                    }
                }).then((result) => {
                    this.usuarios = result.data.data
                    this.pagination = result.data
                     
                })

            },

            changeStatus : function (user){ 

                axios.patch('/users/' + user.id+'/status')
                .then((result) => {

                    this.$notify({
                        group: 'app',
                        type: 'success',
                        text: result.data.message
                    })
                    this.getUsuarios(this.page)

                }).catch(error => { 
                    this.$notify({
                        group: 'app',
                        type: 'error',
                        text: 'Error' 
                    })

                });

            }                        
        }
    }
</script>
